body {
    background: #E1E1E1;
}

a {
    text-decoration: none;
}

/* HOMEPAGE */

.todays-top-news {
    font-family: 'Segoe UI';
    font-size: 500%;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    color: #ACA8A8;
}

.todays-date {
    color: #707070;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 150%;
    font-weight: 800;
}

.loading-container {
    margin: 0 auto;
    width: 80%;
}

.loading {
    display: block;
    width:10%;
    margin: 5% auto;
}

/* Article List */

.fade-in {
    animation-name: fade-in;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.dropdown {
    display: block;
    width: 10%;
    margin: 1% auto;
    font-size: 150%;
    border-radius: 10px;
    padding: 0.25%;
    background: #ACA8A8;
    color: white;
    border: none;
}

.dropdown:focus {
    outline: none;
}

.article-list-div {
    background:#ACA8A8;
    color: white;
    margin: 1% auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;

    -webkit-box-shadow: 11px 5px 19px 5px rgba(0,0,0,0.14); 
    box-shadow: 11px 5px 19px 5px rgba(0,0,0,0.14);
}

.article-list-image {
    width: 20%;
    margin: 2%;
    border-radius: 10px;
}

.article-list-title {
    font-size: 180%;
    font-family: 'Segoe UI';
}

.article-list-description {
    font-family: 'Montserrat';
}

.article-list-read-more {
    font-family: 'Segoe UI';
}


